@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/*----- Barra de Navegación -----*/

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ead5a1f8;
  height: 5.3rem;
  width: 100%;
  padding: 0 2rem;
  z-index: 5;
}

.imglogo {
  height: 5rem;
}

nav ul {
  display: flex;
  margin: 0 5px;
}

nav ul li {
  margin: 0 2rem;
}

nav ul li a {
  color: #4f3919;
  font-size: 1.3rem;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

li:hover {
  transform: scale(1.1);
}

.checkbtn {
  font-size: 30px;
  color: #ffffff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* --- Imagen principal --- */

.imghome {
  width: 100%;
}

/* Títulos para las secciones */

.titulos {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  color: #59411c;
  line-height: 30px;
}

article {
  align-items: center;
}

/* Comienzo de sección La Cabaña */

#seccionlacabaña {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5rem 2.5rem;
  width: 100%;
}

/* ---- Carousel Bootstrap ---- */

.slide {
  width: 30rem;
}

.carousel-inner {
  z-index: -1;
}

.slide img {
  width: 30rem;
  height: 30rem;
}

/* Fin carousel */

.textoinfocabaña {
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
}

.titulos {
  font-family: Oswald, sans-serif;
  font-size: 3rem;
  color: #59411c;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #4f3919;
  font-size: 1rem;
}

.listadecomodidades {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.listadecomodidades ul {
  padding: 0;
  margin: 0;
}

span {
  display: flex;
}

/* Comienzo de sección Como llegar */

#seccioncomollegar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5rem 2.5rem;
  width: 100%;
  background-color: #eedebb;
}

.textocomollegar {
  width: 29rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Comienzo de la Seccion Contacto */

#seccioncontacto {
  width: 100%;
}

form {
  width: 60%;
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.tituloContacto {
  font-family: Oswald, sans-serif;
  color: #4f3919;
  text-align: center;
  padding-top: 3rem;
}

.conteinerContacto {
  display: flex;
}

form label {
  display: block;
  width: 100%;
  margin: 1rem 0;
  font-family: Merriweather, sans-serif;
  color: #4f3919;
}

input,
textarea,
select {
  width: 100%;
  min-height: 2em;
  background-color: #f4ead5;
  border: 1px solid #4f3919;
  border-radius: 2px;
  color: #4f3919;
}

::placeholder {
  color: #4f3919bd;
}

#submit {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 2em;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  background-color: #59411c;
  border-color: #4f3919;
  border-radius: 2px;
  min-width: 300px;
  color: #f4ead5;
}

#warnings {
  width: 200px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

/* ---- Flecha ---- */

.flecha {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #59411c;
  font-size: 2.2rem;
  border-radius: 30%;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

/* Comienzo del footer */

footer {
  background-color: #59411c;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Merriweather, sans-serif;
  padding: 10px 50px;
}

.imgfooter {
  height: 76px;
}

footer .seguinos a {
  color: #ffffff;
  text-decoration: none;
  font-size: large;
}

.logoredes {
  height: 2rem;
}

/* ------------------------- Responsive -------------------------- */

@media (max-width: 800px) {
  /* --- Comienza el menú hamburguesa --- */

  .bars__menu {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20%;
    left: 85%;
    cursor: pointer;
  }

  .bars__menu span {
    display: block;
    width: 100%;
    height: 3px;
    background: #59411c;
    margin-top: 10px;
    transform-origin: 0px 100%;
    transition: all 400ms;
  }

  .activeline1__bars-menu {
    transform: rotate(45deg) translate(-1px, 1px);
  }

  .activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px;
  }

  .activeline3__bars-menu {
    transform: rotate(-45deg) translate(-2px, 2px);
  }

  .checkbtn {
    display: block;
  }

  .imglogo {
    position: absolute;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #eedebb;
    top: 5.2rem;
    left: 100%;
    flex-direction: column;
    text-align: start;
    padding: 1rem;
    transition: all 0.5s;
  }

  nav ul li {
    margin: 0;
  }

  #check:checked ~ ul {
    left: 55%;
  }

  /* --- Imagen del home --- */

  .imghome {
    margin-top: 80px;
  }

  /* Secciones */

  #seccionlacabaña,
  #seccioncomollegar {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .slide {
    width: 80%;
  }

  .carousel-inner {
    z-index: -1;
  }

  .slide img {
    width: 80%;
    height: 80%;
  }

  .textoinfocabaña {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #seccioncomollegar {
    display: flex;
    flex-direction: column;
    background-color: #eedebb;
  }

  .textocomollegar {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  iframe {
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }

  /* --- Footer --- */

  footer {
    flex-direction: column;
  }

  .imgfooter {
    margin-bottom: 6px;
  }

  h6 {
    margin: 0;
  }
}
